
/* 배너 */
.page-header {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;

}
.page-header a{
    text-decoration:none;
    color: #5b80b2;
    font-weight: bold;
    font-family: "Agency FB", "Algerian";
    display: block;
}
/* 좌측 메뉴 CSS*/
nav {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    background: #383e49;
    color: #CBC5C1;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    transition: all 0.15s ease-in-out;
}
nav ul{
    padding: 0px;
}
nav ul li:hover{
    /*background: #447e9b;*/
    background: #4c515d;
}
nav ul li{
    border : 0.5px solid #2f343e;
    height: 50px;
    line-height: 50px;
}
nav ul li a{
    display: block;
    height: 100%;
}
nav ul li a i{
    padding: 0px 25px 0px 8px;
    height: 50px;
    width: 50px;

}

nav ul li a span{
    padding-left:8px;
    color: #fff;
}
nav ul li a{

}

.lingBut{
    height:15px;
    width:15px
}


