{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <style>

        </style>
    </head>
    <body>

        <nav>
            <div class="page-header"><a href="/" >BPage</a></div>
            <ul>
                <li><a href=""><i >tt</i><span>index</span></a> </li>
                <li>test1</li>
                <li>test2</li>
                <li>test3</li>
            </ul>
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>