
/* 배너 */
.page-header {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
.page-header a{
    text-decoration:none;
    color: #5b80b2;
    font-weight: bold;
    font-family: "Agency FB", "Algerian";
}
/* 좌측 메뉴 CSS*/
nav {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    background: #3E3E3B;
    color: #CBC5C1;

    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    transition: all 0.15s ease-in-out;
}
nav ul{
    padding: 0px;
}
nav ul li{
    border : 1px solid #2f343e;
    height: 50px;

}
nav ul li a i{
    border-right: 1px solid #2f343e;
    height: 50px;
    width: 50px;

}




